@font-face {
  font-family: "Sketchy";
  src: url(Sketching.otf);
  font-weight: normal;
}
@font-face {
  font-family: "levi";
  src: url(LEVIBRUSH.TTF);
  font-weight: normal;
}
@font-face {
  font-family: "brushStrike";
  src: url(Brushstrike\ trial.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "pinkblue";
  src: url(Pink\ Blue.ttf);
  font-weight: normal;
}
body {
  display: block;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#banner-background{
    background: linear-gradient(28deg,#ffffff, #ffffff);
    height: 100vh;
   max-width: 100%;
  }

#banner-logo{
    color: rgb(255, 251, 223);
    display: flex;
    justify-content:  center;
    width: inherit;
    height: inherit;
    align-items: center;
    
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
#myCanvas{background-color: rgb(255 255 255);position:absolute;}

#banner-text{
    font-family: 'pinkblue';
    font-size: 20vw;
    justify-self: center;
    align-items: center;
    /* text-shadow: 5px 5px rgb(121, 121, 122); */
    text-shadow: -20px -20px 0 #000, 20px -20px 0 #000, -20px 20px 0 #000, 20px 20px 0 #000;
    /* text-shadow: 5px 5px rgb(255, 164, 90); */
    background-color: rgb(255 255 255 / 0%);
    /* user-select: none; */
    z-index: 3;
}

li.nav-link:hover{
  color: aquamarine;
}
#nav{
    background: rgb(32, 33, 36);
       list-style: none;

}
#nav-bar{
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    color:whitesmoke;
     list-style: none;

}
.homepage{
 
}
.nav-link{
      box-shadow: 0 0 5px 0 ;
      background: inherit;
      backdrop-filter: blur(10px);
      border-radius: 10px;
      padding: 10px;}
      
#banner-background {
  background: linear-gradient(28deg, #ffffff, #ffffff);
  height: 100vh;
  max-width: 100%;
}

#banner-logo {
  color: rgb(255, 251, 223);
  display: flex;
  justify-content: center;
  width: inherit;
  height: inherit;
  align-items: center;
}

#myCanvas {
  background-color: rgb(255 255 255);
  position: absolute;
}

#banner-text {
  font-family: "pinkblue";
  font-size: 20vw;
  justify-self: center;
  align-items: center;
  /* text-shadow: 5px 5px rgb(121, 121, 122); */
  text-shadow: -20px -20px 0 #000, 20px -20px 0 #000, -20px 20px 0 #000,
    20px 20px 0 #000;
  /* text-shadow: 5px 5px rgb(255, 164, 90); */
  background-color: rgb(255 255 255 / 0%);
  user-select: none;
  z-index: 3;
}

#nav {
  background: rgb(32, 33, 36);
  list-style: none;
  /* outline: 10px solid #3c3e46;
  margin: 10px */
}
#nav-bar {
  display: flex;
  justify-content: space-evenly;
  font-size: 25px;
  font-family: "Ubuntu";
  color: #000000;
  list-style: none;
}

.nav-link {
  box-shadow: 0 0 5px 0;
  background: inherit;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 10px;
}

.second-container {
  background: rgb(27, 27, 27);
  height: 500px;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  outline-style: outset;
  padding-left: 10%;
  /* outline: 2px solid #c714ff; */
 outline: 2px solid #ffffff;
  /*padding: 10px;*/
}

.title-text {
  font-size: 50px;
  color: white;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.normal-text {
  font-size: 25px;
  color: white;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#footer{
  height: 100px;
  width: 100%;
  background-color: white;
}
.nav-text{
  color:white
}
#footer-canvas{
  position: absolute;
}
